/* Browser Reset*/

*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;

}
/* Import Fonts*/
@font-face {
font-family: "Young Serif";
src: url(../fonts/young-serif/YoungSerif-Regular.ttf);

}

@font-face {
    font-family: "Outfit";
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}
/*Variables*/
:root {
--fs-1:32px;
--fs-2:28px;
--fs-3:19px;
--fs-base: 16px;
--White: hsl(0, 0%, 100%);
--Stone100: hsl(30, 54%, 90%);
--Stone150: hsl(30, 18%, 87%);
--Stone600: hsl(30, 10%, 34%);
--Stone900: hsl(24, 5%, 18%);
--Brown800: hsl(14, 45%, 36%);
--Rose800: hsl(332, 51%, 32%);
--Rose50: hsl(330, 100%, 98%);
--sm: 375px;
--lg: 720px;
--xl: 1440px;
}
body{
    font-family: "Outfit", sans-serif;
    color: var(--Stone600);
    
}
h1, h2 {
font-family: "Young Serif", serif;
font-weight: 400;
}
h1{
    font-size: var(--fs-1);
    color: var(--Stone900);
}
h2{
    color: var(--Brown800);
    font-size: var(--fs-2);

}
h3{
color: var(--Rose800);
font-size: var(--fs-3);
}
p{
    font-size: var(--fs-base);
}
.recipe-image {
    width: 100%;
}
.recipe-container{
padding: 0;
}
.recipe-content{
    padding: 40px;
}
.recipe-image{
    width: 100%;
}
.recipe-intro
.recipe-preparation
.recipe-ingredients
.recipe-instructions
.recipe-nutrition {
    margin-bottom: 30px;
}
.recipe-intro h1{
margin-bottom: 20px;
line-height: 35px;
}
.recipe-intro p{
line-height: 25px;
}
.recipe-preparation{
    background-color: var(--Rose50);
    padding: 20px 30px;
    border-radius: 10px;
}
.recipe-preparation h3{
    line-height: 35px;
    margin-bottom: 15px;
}
.recipe-preparation p{
    line-height: 25px;
    
}
.recipe-preparation ul li {
margin-left: 20px;
line-height: 30px;
}
.recipe-preparation ul li::marker {
color: var(--Rose800);

}

.recipe-ingredients{
    margin-bottom: 39px;
}
.recipe-ingredients h2 {
    margin-bottom: 15px;
}
.recipe-ingredients ul li {
    line-height: 30px;
    margin-left: 20px;
}
.recipe-ingredients ul li::marker {
    color: var(--Rose800);
}
.seperator {
border: 1px solid var(--Stone150);
margin-bottom: 25px;

}
.recipe-instructions h2{
margin-bottom: 15px;
}
.recipe-instructions ol li::marker {
color: var(--Rose800);
font-weight: 6oo;
}
.recipe-instructions ol li {
line-height: 30px;
margin-left: 20px;

}
.recipe-nutrition h2 {
    margin-bottom: 15px;
}
.recipe-nutrition p {
    line-height: 30px;
    margin-bottom: 20px;
    
}
.recipe-nutrition table {
    width: 100%;
}
.recipe-nutrition table tr td {
    border-bottom: 1px solid var(--Stone150);
    padding: 15px;
}
.recipe-nutrition table tr td:last-child {
    color: var(--Brown800);
    font-weight: 600;
}
/*styling for large screens*/
@media screen and ( min-width: 720px) {
main {
padding: 100px;
background-color: var(--Stone100);
}
.recipe-container{
background-color: var(--White);
width: 500px;
margin: 0 auto;
border-radius: 15px;
overflow: hidden;
padding: 30px;

}
.recipe-image {
margin-bottom: 30px;
border-radius: 10px;
}

}
    